{%extends "index.html"%}
{% block content %}

  {% for key, value in result.items() %}
    <table style="width:100%">
      <tr>
        <th>Episode</th>
        <th>Air Date</th>
        <th>Episode Name</th>
      </tr>
      {% for episode in value %}
        <tr>
          <td>{{episode.episode_number}}</td>
          <td>{{episode.date}}</td>
          <td>
            <a href={{url_for('get_tweets', show_name = name, episode_name = episode.name, date = episode.date)}}>
              {{episode.name}}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table
  {% endfor %}
{%endblock content%}}
