{%extends "index.html"%}
{% block content %}
  <div class="list-item">
    <p class="text">Have you ever stumbled across a tv show AGES after the masses and had no one to talk to spoiler free?</p>
    <p class="text">Are you a couple of episodes behind your favorite show and would love to view people's thoughts episode by episode as you catch up?</p>
    <br>
    <p class="text">TV-tweets is a web scraper dedicated to providing the sense of community that comes with tweeting along with the masses as you watch a show... but days, weeks, months, or even years after the fact! </p>
    <br>
    <p class="text">To get started, search for the show of your choice and select the episode you have just watched to view the top tweets about that particular episode.</p>

  </div>
{%endblock content%}}
