{%extends "index.html"%}
{% block content %}
    <div>
      {% for key, show in result.items() %}
        <div class="img-container">
          <a href="https://next-episode.net/">
            <img src="{{ show.image }}">
          </a>
        </div>
        <h2>Previous Episode:</h2>
        <a href={{url_for('get_tweets', show_name = show.name, date = show.prev_date, time= show.air_time)}}>
          <h1 class="center">{{show.prev_date}}</h1>
        </a>

        <h2>All Seasons:</h2>
        <table>
          {% for season in show.seasons %}
            <tr>
              <a href={{url_for('get_seasons_episodes', name = show.name, season=season.link)}}>
                {{season.link}}
              </a>
            </tr> |

          {%  endfor %}

      {% endfor %}
    </div>
{%endblock content%}}
