{%extends "index.html"%}
{% block content %}

      <h1 class="center">Showing results for "{{tweet_query}}" on {{date}}</h1>

      <form class="search-bar" action="{{url_for('tweetsearch', show_name = show_name, date=date)}}" method="POST">
        <input type="text" placeholder="More specific search.." name="tweet-search">
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="hidden" name="date" value="{{date}}">
      </form>

      {% for key, value in result.items() %}

          {% for tweet in value %}
            <div class="list-item">
                <li class="tweet">
                    <div class="tw-left">
                      <a href="https://twitter.com/">
                        <img src="{{ tweet.user_image }}" alt="img">
                      </a>
                    </div>

                    <div class="tw-right">
                      <h4 class="name"> {{tweet.name}}
                        <span class="handle"> {{tweet.user_handle}}</span>
                        <span class="time" data-time= >{{tweet.date}}</span>
                      </h4>
                      <p class="text">{{tweet.tweet_text}}</p>
                      <a href="{{tweet.tweet_link}}">
                        <p><small>Go to tweet</small></p>
                      </a>
                      {% if tweet.image != "" %}
                        <a href="https://twitter.com/" target="_blank">
                          <img src="{{ tweet.image }}" class="center" height="80%" width="80%">
                        </a>
                      {% endif %}
                    </div>
                </li>
            </div>
          {% endfor %}

      {% endfor %}

{%endblock content%}}
